<link rel="stylesheet" href="/css/menu.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<nav class="menu">
    <div class="items">
        <a href="#" class="item material-icons">home</a>
        <div class="dropdown">
            <button class="dropbtn"><p class="material-icons">grid_view</p></button>
            <div class="dropdown-content">
                <a href="#">Grupos</a>
                <a href="#">Eliminatórias</a>
            </div>
        </div>
        <a href="#" class="item material-icons">settings</a>
        <a href="#" class="item material-icons">info</a>
    </div>
</nav>